
.main-wrapper {
  width: 1024px;
  height: 1800px;
  margin: 0 auto;
}

/* Начало блока - header */

.main-header {
  position: relative;
  padding-top: 70px;
  text-align: center;
  overflow: hidden;
}

.main-content::before {
  content: "";
  display: block;
  width: 100%;
  height: 18px;
  background: linear-gradient(0deg, #cccccc 50%, #2e302c 0);
}

.main-header__link {
  display: block;
  float: left;
  cursor: pointer;
}

.main-header__faq {
  position: absolute;
  top: -18px;
  right: 43px;
  width: 82px;
  height: 164px;
  background-image: url(../img/faq.png);
  background-repeat: no-repeat;
  cursor: pointer;
}

.navigation {
  display: inline-block;
  margin-top: 30px;
}

.navigation__item {
  float: left;
  margin-right: 30px;
}

.navigation__item:last-child {
  margin-right: 0;
}

.navigation__link {
  text-decoration: none;
  font: 16px Arial, sans-serif;
  color: #3f3f3f;
}

.navigation__link--active {
  color: #2c789c;
}

.navigation__link:active{
  color: #2c789c;
}

.navigation__link:hover {
  color: #2c789c;
}

/* Начало блока - people */

.people {
  padding-bottom: 166px;
  background-image:
    url(../img/peopleBg.jpg),
    url(../img/people.jpg);
  background-repeat: no-repeat;
  background-position: 74px 53px, 580px 21px;
}

.people__title {
  padding-top: 200px;
  padding-left: 120px;
  font-size: 23px;
  font-weight: 700;
  text-transform: uppercase;
  font-family: Arial, sans-serif;
  color: #1d1e1b;
}

.people__sub-title {
  padding-right: 580px;
  padding-left: 120px;
  text-align: right;
  font-size: 16px;
  font-family: Arial, sans-serif;
  color:#2c789c;
}

/* Начало блока - services */

.services {
  margin-bottom: 20px;
  padding: 20px 0 20px 0;
}

.services::after {
  content: "";
  display: table;
  clear: both;
}

.support {
  position: relative;
  width: 300px;
  float: left;
  padding-top: 13px;
  padding-left: 20px;
  padding-right: 20px;
  background-image: url(../img/icon_peoples.png);
  background-repeat: no-repeat;
  background-position: 270px 10px;
  background-color: #2c789c;
}

.support__title {
  padding-bottom: 10px;
  font-size: 19px;
  font-family: Arial sans-serif;
  color: #fff;
}

.support__description {
  font-size: 16px;
  font-family: Arial sans-serif;
  color: #fff;
}

.support__link {
  display: block;
  margin-top: 12px;
  margin-bottom: 12px;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
  font-size: 16px;
  font-family: Arial sans-serif;
  text-decoration: none;
  background-color: #fff;
  color: #525252;
  cursor: pointer;
}

.assured {
  position: relative;
  width: 300px;
  float: left;
  padding-top: 13px;
  padding-left: 20px;
  padding-right: 20px;
  background-image:url(../img/icon_plan.png);
  background-repeat: no-repeat;
  background-position: 270px 10px;
  background-color: #e5b00d;
}

.assured::before {
  content: "";
  position: absolute;
  top: 53px;
  left: 0;
  width: 24px;
  height: 50px;
  background-image: url(../img/arrow_1.png);
  background-repeat: no-repeat;
}

.assured__title {
  padding-bottom: 10px;
  font-size: 19px;
  font-family: Arial sans-serif;
  color: #fff;
}

.assured__description {
  font-size: 16px;
  font-family: Arial sans-serif;
  color: #fff;
}

.assured__link {
  display: block;
  margin-top: 12px;
  margin-bottom: 12px;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
  font-size: 16px;
  font-family: Arial sans-serif;
  text-decoration: none;
  background-color: #fff;
  color: #525252;
  cursor: pointer;
}

.focus {
  position: relative;
  width: 300px;
  float: left;
  padding-top: 13px;
  padding-left: 20px;
  padding-right: 20px;
  background-image: url(../img/icon_check.png);
  background-repeat: no-repeat;
  background-position: 270px 10px;
  background-color: #97ba15;
}

.focus::before {
  content: "";
  position: absolute;
  top: 53px;
  left: 0;
  width: 25px;
  height: 51px;
  background-image: url(../img/arrow_2.png);
  background-repeat: no-repeat;
}

.focus__title {
  padding-bottom: 10px;
  font-size: 19px;
  font-family: Arial sans-serif;
  color: #fff;
}

.focus__description {
  font-size: 16px;
  font-family: Arial sans-serif;
  color: #fff;
}

.focus__link {
  display: block;
  margin-top: 12px;
  margin-bottom: 12px;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
  font-size: 16px;
  font-family: Arial sans-serif;
  text-decoration: none;
  background-color: #fff;
  color: #525252;
  cursor: pointer;
}

/* Начало блока - welcome */

.welcome {
  margin-bottom: 20px;
  padding: 20px 30px 20px 30px;
  box-shadow: 1px 1px 4px 0px #000;
}

.welcome::after {
  content: "";
  display: table;
  clear: both;
}

.site {
  width: 620px;
  float: left;
}

.site__title {
  font: 24px Arial, sans-serif;
  color: #000;
  margin-bottom: 6px;
}

.site__description {
  color: #7b7d78;
  font: 16px Arial, sans-serif;
}

.site__description span {
  display: block;
  margin-bottom: 13px;
  font:bold 16px Arial, sans-serif;
  color: #1d1e1b;
}

.site__link {
  display: inline-block;
  width: 100%;
  margin-top: 10px;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
  text-decoration:none;
  font-size: 16px;
  font-family: Arial sans-serif;
  background-color: #000;
  color: #fff;
  cursor: pointer;
}

.request {
  width: 250px;
  float: left;
  margin-left: 70px;
  z-index: 5;
}

.request__title {
  font:24px Arial, sans-serif;
  color:#000;
  margin-bottom:6px;
}

.request-form {
}

.request-form__input {
  width: 224px;
  height: 31px;
  border:1px solid #dedede;
  color:#dcdcdc;
  font: 16px Arial, sans-serif;
  padding-left: 15px;
  margin-bottom: 15px;
}

.request-form__input:last-child {
  margin-bottom: 0;
}

.request-form__button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 10px;
  outline: 0;
  background-color: #000;
  color: #fff;
  cursor: pointer;
}

/* Начало блока - baxter */

.baxter {
  margin-bottom: 20px;
  padding: 20px 30px 20px 30px;
  overflow: hidden;
  background-color: #1d1e1b;
}

.baxter::after {
  content: "";
  display: table;
  clear: both;
}

.planning {
  width: 289px;
  float: left;
}

.planning__pict {
  width: 289px;
  height: 115px;
}

.planning__title {
  margin-bottom: 10px;
  overflow: hidden;
  font-size: 18px;
  font-family: Arial sans-serif;
  text-transform: uppercase;
  color: #fff;
}

.planning__description {
  margin-top: 10px;
  font-size: 12px;
  font-family:  Arial, sans-serif;
  overflow: hidden;
  color: #94998f;
}

.planning__link {
  display: block;
  margin-top: 40px;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
  text-decoration:none;
  font-size: 16px;
  font-family: Arial sans-serif;
  background-color: #2c789c;
  color: #fff;
  cursor: pointer;
}

.team {
  width: 289px;
  float: left;
  margin-left: 39px;
}

.team__title {
  margin-bottom: 10px;
  overflow: hidden;
  font-size: 18px;
  font-family: Arial sans-serif;
  text-transform: uppercase;
  color: #fff;
}

.team__pict {
  width: 289px;
  height: 115px;
}

.team__description {
  margin-top: 10px;
  font-size: 12px;
  font-family:  Arial, sans-serif;
  overflow: hidden;
  color: #94998f;
}

.team__link {
  display: block;
  margin-top: 40px;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
  text-decoration:none;
  font-size: 16px;
  font-family: Arial sans-serif;
  background-color: #2c789c;
  color: #fff;
  cursor: pointer;
}

.news {
  width: 290px;
  float: left;
  margin-left: 40px;
}

.news__title {
  margin-bottom: 15px;
  font-size: 13px;
  font-weight: 700;
  font-family: Arial, sans-serif;
  color: #fff;
}

.news__title span {
  padding-left: 20px;
  text-transform: lowercase;
  color: #2c789c;
}

.new-preview {
  display: inline-block;
  margin-bottom: 20px;
}

.new-preview:last-child {
  margin-bottom: 0;
}

.new-preview__pict {
  width: 111px;
  height: 81px;
  float: left;
  margin-right: 10px;
}

.new-preview__title {
  margin-bottom: 4px;
  font-size: 13px;
  font-weight: 700;
  font-family: Arial, sans-serif;
  color: #fff;
}

.new-preview__description {
  font-size: 12px;
  font-family: Arial, sans-serif;
  color: #94998f;
}

.new-preview__link {
  display: block;
  margin-top: 4px;
  font-size: 12px;
  font-family: Arial, sans-serif;
  text-decoration: underline;
  color: #2c789c;
}

/* Начало блока - profits */

.profits {
  margin-bottom: 20px;
  padding: 20px 30px 20px 30px;
  overflow: hidden;
  background-color: #2e302c;
}

.profits::after {
  content: "";
  display: table;
  clear: both;
}

.about {
  width: 300px;
  float: left;
}

.about__title {
  margin-bottom: 10px;
  font-size: 18px;
  font-family: Arial, sans-serif;
  text-transform: uppercase;
  color: #fff;
}

.about__description {
  font-size: 12px;
  font-family: Arial, sans-serif;
  color: #94998f;
}

.about__link {
  display: block;
  margin-top: 10px;
  font-size: 16px;
  font-family: Arial, sans-serif;
  text-decoration: none;
  color: #2c789c;
}

.partners {
  width: 628px;
  height: 168px;
  float:left;
  margin-left:26px;
}

.partners__title {
  margin-bottom: 10px;
  font-size: 18px;
  font-family: Arial, sans-serif;
  text-transform: uppercase;
  color: #fff;
}

.partner {
  float: left;
}

.partner:last-child {
  margin-left: 56px;
}

.partner__item {
  margin-bottom: 15px;
  padding-left: 22px;
  font-size: 11px;
  font-family: Arial, sans-serif;
  background-image:url(../img/icon_plus.png);
  background-repeat:no-repeat;
  background-position: 0 4px;
  color: #94998f;
}

/* Начало блока - footer */

.footer {
  padding: 20px 30px 20px 30px;
  text-align: center;
  background-color: #131412;
}

.footer__copyring {
  display: inline-block;
  float: left;
}

.footer__copyring a {
  font-size: 13px;
  font-family: Arial, sans-serif;
  text-decoration: none;
  color: #9b9d99;
}

.footer-nav {
  display: inline-block;
}

.footer-nav__item {
  display: inline-block;
  margin-left: 20px;
}

.footer-nav__item:first-child {
  margin-left: 0;
}

.footer-nav__link {
  font-size: 13px;
  font-family: Arial, sans-serif;
  text-decoration: none;
  color: #94998f;
}

.footer-nav__link--active {
  color: #2c789c;
}

.footer-nav__link:hover {
  color: #2c789c;
}

.footer-social {
  display: inline-block;
  float: right;
}

.footer-social__item {
  float: right;
  height: 22px;
  margin-left: 5px;
  background-repeat: no-repeat;
}

.footer-social__link {
  display: block;
  height: 22px;
  cursor: pointer;
}

.icon-one {
  width: 21px;
  height: 22px;
  background-image: url(../img/icon_social_1.png);
}

.icon-two {
  width: 28px;
  height: 22px;
  background-image: url(../img/icon_social_2.png);
}

.icon-third {
  width: 21px;
  height: 21px;
  background-image: url(../img/icon_social_3.png);
}

.icon-four {
  width: 61px;
  height: 22px;
  background-image: url(../img/icon_social_4.png);
}
